body {
    background-color: #1a1a1a;
    color: #F4F4F4;
    font-family: 'Roboto Mono', monospace, Arial, sans-serif;
    margin: 0 auto;
    padding: 30px;
    max-width: 600px;
}


.container {
    max-width: 600px;
    margin: 0 auto;
    
}

h1 {
    text-align: center;
    font-weight: 500;
}

.journal {
    margin-bottom: 20px;
    font-size: 10px;
}

textarea {
    width: 100%;
    height: 200px;
    padding: 20px;
    resize: none;
    border: 2px solid #f4f4f4;
    background-color: #1a1a1a;
    color: #f4f4f4;
    border-radius: 15px;
    font-size: 10px;
    font-family: 'Roboto Mono', monospace, Arial, sans-serif;
    font-weight: 100;
}

button {
    background-color: #1a1a1a;
    color: #f4f4f4;
    border: 2px solid #f4f4f4;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 50px;
    margin-top: 20px;

}

button:hover {
    background-color: #f4f4f4;
    color: #1a1a1a;
}

.entries h2 {
    margin-top: 20px;
    font-family: 'Roboto Mono', monospace, Arial, sans-serif;
    font-weight: 100;
    
}

.entries-container {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto Mono', monospace, Arial, sans-serif;
    font-weight: 100;
    font-size: 10px;
    
}

/* previous journals */

.entry {
    position: relative;
    width: 600px;
    height: 200px;
    background-color: #F4F4F4;
    color: #1a1a1a;
    margin-left: 0px;
    margin-bottom: 15px;
    margin-top: 10px;
    padding: 20px;
    overflow: hidden;
    white-space: normal;
    border-radius: 15px;
    font-size: 10px;
    border: 2px solid #f4f4f4;
    background-color: #1a1a1a;
    color: #f4f4f4;
}

.edit-button,
.delete-button {
    position: absolute;
    top: -10px;
    right: 10px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #1a1a1a;
    color: #f4f4f4;
    border: 2px solid #f4f4f4;
}

.edit-button:hover,
.delete-button:hover {
    background-color: #f4f4f4;
    color: #1a1a1a;
}


